@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 512px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #f5f5f5;
}
